<script src="/javascripts/plugins.js?v=1"></script>
<script src="/javascripts/script.js?v=1"></script>

<!--[if lt IE 7 ]>
  <script src="/javascripts/dd_belatedpng.js?v=1"></script>
<![endif]-->

<script src="/javascripts/profiling/yahoo-profiling.min.js?v=1"></script>
<script src="/javascripts/profiling/config.js?v=1"></script>

<script>
 var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']]; 
 (function(d, t) {
  var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
  g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
 })(document, 'script');
</script>